body {
  background-image: url(../image/Fon.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header_page {
  width: 1366px;
  height: 58px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  color: #000;
  opacity: 0.81;
  padding-top: 17px;
}

.logo {
  width: 157px;
  height: 22px;
  color: #fff;
  font-family: "Ubuntu";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  padding-top: 18px;
  padding-left: 79px;
}
.logo:hover {
  color: #236d46;
}
.right_section_text {
  color: #fff;
  font-family: "Ubuntu";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  padding-left: 0px;
  padding-top: 1px;
  padding-top: 18px;
}
.right_section_text::before {
  content: "";
  width: 1px;
  height: 19px;
  background-color: #ffffff;
  display: inline-block;
  margin-right: 19px;
}

.right_section_link {
  color: #fff;
  font-family: "Ubuntu";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}
.right_section_link:hover {
  color: #236d46;
}
.icons {
  display: flex;

  align-items: baseline;
}
.icons_calendar {
  padding-right: 27px;
}
.icons_envelope {
  padding-right: 24px;
}
.icons_compass {
  padding-right: 20px;
}
.form-wrapper {
  width: 444px;
  height: 584px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 54px;
}
.forms {
  width: 324px;
  height: 44px;
  margin-bottom: 15px;
  font-size: 14px;
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
  border-radius: 4px;
  border: 1px solid #f2f2f2;
}
.title {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 15px;
}
.title_left {
  width: 129px;
  display: flex;
  justify-content: space-between;
  margin-left: -56px;
}

.form_sign-up {
  position: relative;
  color: #434343;
  text-align: center;
  font-family: "Ubuntu";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  display: block;
}
/*.form_sign-up::before {
  content: "";
  width: 18px;
  height: 18px;
  background-color: #3cb878;
  position: absolute;*/

.form_Log-in {
  position: relative;
  color: #3cb878;
  font-family: "Ubuntu";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}
.form-control {
  display: flex;
  justify-content: space-between;
  padding-bottom: 31px;
}
.form-terms-text {
  color: #434343;
  font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}
.facebook {
  background-color: #305db8;
  color: #fff;
  font-family: "Ubuntu";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  padding: 12px 22px 12px 11px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.facebook:hover {
  background-color: #022263;
}
.facebook img {
  margin-right: 32px;
}
.facebook img::after {
  width: 1px;
  height: 28px;
  background-color: #0a162f;
}
.Google {
  background-color: #df4a32;
  color: #fff;
  font-family: "Ubuntu";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  padding: 15px 27px 14px 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Google:hover {
  background-color: #ab1f09;
}
.Google img {
  margin-right: 38px;
}
.form_text-or {
  text-align: center;
  margin-bottom: 7px;
  color: #848484;
  font-family: "Ubuntu";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  /*position: relative;*/
  padding-left: 2px;
  padding-right: 2px;
}
.form_text-or::before {
  content: "";
  width: 152px;
  height: 1px;
  background-color: #848484;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.form_text-or::after {
  content: "";
  width: 152px;
  height: 1px;
  background-color: #848484;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.form-link {
  color: #3cb878;
  font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  margin: 0;

  font: inherit;
  color: black;
  width: 1.15em;
  height: 1.15em;
  border: 1px solid black;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 1em;
  height: 1em;
  background: url(../image/Vector1.svg);
  transform: scale(0);
  transition: 120 transform ease-in-out;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.form-terms {
  display: flex;
  margin-bottom: 20px;
}
.form-terms-text {
  margin-left: 8px;
  color: #434343;
  font-family: "Ubuntu";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.form-btn {
  width: 326px;
  height: 46px;
  background-color: #3cb878;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Ubuntu";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  border: none;
}
.form-btn:hover {
  background-color: #01813f;
}
::placeholder {
  color: #bebebe;
  font-family: "Ubuntu";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}
